div,span,body,html {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

body {
  font-family: Helvetica, sans;
  font-size: 14px;
}

#header {
  padding: 5px;
  display: block;
  border-bottom: 1px solid black;
  width: 310px;
  background: white;
  z-index: 2;
}

.button {
  border: 1px solid black;
  margin: 0;
  background: #dddddd;
}

#content {
  padding: 5px;
  width: 310px;
  overflow-x: hidden;
}

#footer {
  padding: 10px 5px 10px 5px;
  display: block;
  border-top: 1px solid black;
  width: 310px;

  font-size: 11px;
}

h1 {
  margin: 0 0 10px 0;
  padding: 0;
}

.photo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 14px;
  min-height: 200px;
}

img {
  max-width: 100%; /* 310px; */
  max-height: 340px;
}

.connect {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 20px auto 20px auto;
  border: 1px solid black;
  background: #dddddd;
  text-align: center;
}


.ownername {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #023182;
}

.author {
  font-weight: bold;
  color: #023182;
}

.ago {
  font-size: 11px;
}

.map {
  font-size: 11px;
  line-height: 1px;
}

a {
  text-decoration: none;
}

.more {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  background: #dddddd;
  font-size: 16px;
}

.error {
  color: red;
}

