div,span,body,html {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

body {
  width: 320px;
  overflow-x: hidden;
  font-family: Helvetica, sans;
}

#header {
  padding: 4px;
  margin: 0 0 20px 0;
/*  position: fixed;*/
  display: block;
  border-bottom: 1px solid black;
  width: 310px;
  background: white;
  z-index: 2;
}


#photos {
  width: 310px;
  padding: 4px;
}

.photo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 14px;
  min-height: 200px;
}

.image {
  max-width: 310px;
  max-height: 340px;
}


.ownername {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #023182;
}

.author {
  font-weight: bold;
  color: #023182;
}

.ago {
  font-size: 11px;
}

.map {
  font-size: 11px;
  line-height: 1px;
}

a {
  text-decoration: none;
}

.more {
  display: block;
  width: 310px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  background: #dddddd;
  font-size: 16px;
}

.credits {
  font-size: 11px;
  display: block;
  width:300px;
  padding: 10px;
}
