{% extends "base.html" %}
{% block content %}

<div id="photos">
{% for photo in photos %}
    <div class="photo">
        <div class="ago" style="float: right">{{ photo.ago }}</div>
        <img style="float: left; margin: 0 5px 5px 0;" src="{% if photo.iconserver %}http://farm{{photo.iconfarm}}.static.flickr.com/{{photo.iconserver}}/buddyicons/{{photo.owner}}.jpg{% else %}http://www.flickr.com/images/buddyicon.jpg{% endif %}" width="32" height="32">
        <div style="float: left;">
          <span class="ownername">{{ photo.ownername }}</span>
            {% if photo.latitude and photo.longitude %}
            <span class="map"><a href="http://maps.google.com/maps?q={{ photo.title }}@{{ photo.latitude }},{{ photo.longitude }}&amp;z=13">on a map</a></span>
            {% endif %}
        </div>

        <div style="clear: both;"></div>
        
        <center>
        <a href="http://www.flickr.com/photos/{{ photo.pathalias }}/{{ photo.id }}">
            <img src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" class="image">
        </a>
        </center>

        {% if photo.title %}
        <span class="comments"><span class="author">{{ photo.ownername }}:</span> {{ photo.title }}</span>
        {% endif %}

        </span>
    </div>
{% endfor %}
</div>

<!--
<a class="more" href="#">More..</a>
-->

{% endblock %}
