{% extends "base.html" %}
{% block content %}

{% for photo in photos %}
    <div class="photo" style="display: none" id="#photo-{{ photo.id }}">

        <div class="ago" style="float: right">{{ photo.ago }}</div>
        <img class="icon" style="float: left; margin: 0 5px 5px 0;" data-src="{% if photo.iconserver %}http://farm{{photo.iconfarm}}.static.flickr.com/{{photo.iconserver}}/buddyicons/{{photo.owner}}.jpg{% else %}http://www.flickr.com/images/buddyicon.jpg{% endif %}" width="32" height="32">
        <div style="float: left;">
          <span class="ownername">{{ photo.ownername }}</span>
            {% if photo.latitude and photo.longitude %}
            <span class="map"><a onclick="$('#map-{{photo.id}}').slideToggle(250); return false;" href="#">on a map</a></span>
            {% endif %}
        </div>
        <div style="clear: both;"></div>

        <div id="map-{{photo.id}}" style="display: none">
          <a target="_new" href="http://maps.google.com/maps?q={{ photo.title }}@{{ photo.latitude }},{{ photo.longitude }}&amp;z=13"><img data-src="http://maps.google.com/maps/api/staticmap?center={{photo.latitude}},{{photo.longitude}}&amp;zoom=14&amp;size=400x150&amp;maptype=roadmap&amp;markers=color:blue|size:small|{{photo.latitude}},{{photo.longitude}}&amp;sensor=false"></a>
        </div>
        
        <center>
        <a href="http://www.flickr.com/photos/{{ photo.pathalias }}/{{ photo.id }}" target="_blank">
            <img data-src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" class="image">
        </a>
        </center>

        {% if photo.title %}
        <span class="comments"><span class="author">{{ photo.ownername }}:</span> {{ photo.title }}</span>
        {% endif %}

        </span>
    </div>
{% endfor %}

<a class="more" href="#">More..</a>

<script>
  function show_images(count) {
      var left = count;
      $("div.photo").each(function(idx,obj){
          obj = $(obj);
          if (obj.is(':visible')) {
              return;
          }
          obj.show();
          // TODO - hw accel this. obj.fadeIn(1500);
          $(obj).find("img").each(function(idx,obj) {
              obj = $(obj);
              var src = obj.attr("data-src");
              if (src) {
                  obj.attr("src", src);
                  obj.removeAttr("data-src");
              }
          });
          left -= 1;
          if (left == 0) {
              return false;
          }
      });

      // look for some remaining invisible ones
      var some_left = false;
      $("div.photo").each(function(idx,obj){
          obj = $(obj);
          if (obj.is(':visible')) {
              return;
          }
          some_left = true;
          return false;
      });
      return some_left;
  }

  // on page load show some images
  show_images(5);

  $(".more").click(function() {
      var left = show_images(5);
      if (!left) {
          $(".more").hide();
      }
      return false;
  });
</script>

{% endblock %}
